<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.thomasmore.swrott"
    android:versionCode="1"
    android:versionName="1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/rottTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".EditTeamActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="be.thomasmore.swrott.MainActivity" />
        </activity>
        <activity
            android:name=".Splash"
            android:theme="@style/rottTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddMember"
            android:parentActivityName=".EditTeamActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="be.thomasmore.swrott.EditTeamActivity" />
        </activity>
        <activity android:name=".EditMember" />
        <activity android:name=".ChoosePicture" />
        <activity
            android:name=".StartFight"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="be.thomasmore.swrott.MainActivity" />
        </activity>
        <activity android:name=".Fight" />
        <activity android:name=".FightResult" />
        <activity android:name=".FightDetails"
            android:parentActivityName=".FightResult" />
        <activity android:name=".About"></activity>
    </application>

</manifest>